@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: DecoturaICG;
  src: url("../fonts/Decotura ICG Regular.ttf");
}

/* Global styles */
.dcheroes {
  font-family: "DecoturaICG";
  background-image: none;
  letter-spacing: 0.05em;
}

.dcheroes .window-header {
  background-color: #1f5079;
  font-size: 20px;
}

.dcheroes.window-app .window-content {
  background-color: #fff;
  background-image: none;
}

.dcheroes input[type="text"] { 
  background-color: #ddebf6;
  border: 1px solid #1f5079; 
}

.dcheroes label {
  color: #1f5079;
}

.dcheroes select {
  font-size: 22px;
  color: #1f5079;
}

.dcheroes .editor-content {
  font-size: 22px;
  color: #1f5079;  
  padding: 0 5px 0 5px;
}

.dcheroes .tabs .item {
  color: #1f5079;
}

.dcheroes .tabs .item.active {
  text-shadow: 0 0 10px #2c8dda;
}

.rollable:hover, .rollable:focus {
  color: #1f5079;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to dcheroes sheets */
.dcheroes .item-form {
  color: #1f5079;
}
.dcheroes .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;  
}
.dcheroes .sheet-header .profile-img {
  flex: 0 0 120px;
  height: 120px;
  margin-right: 10px;
  background-color: #ddebf6;
  border: 1px solid #1f5079;
}
.dcheroes .sheet-header .header-fields {
  flex: 1;
}
.dcheroes .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.dcheroes .sheet-header h1.charname input {
  font-size: 32px;
  width: 100%;
  height: 100%;
  margin: 0;
}
.dcheroes .sheet-tabs {
  flex: 0;
}
.dcheroes .sheet-tabs a.item {
  font-size: 24px;
  color: #1f5079;
}
.dcheroes .sheet-body,
.dcheroes .sheet-body .tab,
.dcheroes .sheet-body .tab .editor {
  height: 100%;
}
.dcheroes .tox .tox-editor-container {
  background: #fff;
}
.dcheroes .tox .tox-edit-area {
  padding: 0 8px;
}
.dcheroes .resources .resource-label {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
}
.dcheroes .resource .resource-select {
  width: 100%;
}

.dcheroes .resource-content {
  padding-top: 4px;
}
.dcheroes .resource-content input {
  font-size: 20px;
}

.dcheroes .resource-content span {
  font-size: 22px;
  color: #1f5079;
}

.dcheroes .sheet-body .initiative-and-hp .initiative,
.dcheroes .sheet-body .initiative-and-hp .hero-points,
.dcheroes .attributes .attribute {
  border: 2px solid #1f5079;
  font-size: 22px;
}

.dcheroes .sheet-body .initiative-and-hp label,
.dcheroes .attributes .attribute label {
  font-size: 24px;
  color: #1f5079;
}

.dcheroes .sheet-body div.inactive {
  background-color: #d4d4d4;
}

.dcheroes .sheet-body .initiative-and-hp input,
.dcheroes .sheet-body .initiative-and-hp input,
.dcheroes .attributes .attribute input {
  border: none;
  padding: 0;
}

.dcheroes .attributes .attribute select {
  width: 100%;
  background-color: #ddebf6;
  border: 0px;
}

.dcheroes .items-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
}
.dcheroes .items-header > * {
  font-size: 20px;
  text-align: center;
}
.dcheroes .items-header .item-name {
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.dcheroes .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.dcheroes .items-list .item-row {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #1f5079;
}
.dcheroes .items-list > li.item-row:nth-of-type(odd) {
  background: #ddebf6;
}
.dcheroes .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dcheroes .items-list .item-name {
  flex: 1 0 150px;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  align-items: center;
  font-weight: bold;
  display: flex;
}
/* TODO not needed? */
.dcheroes .items-list .item-name h3, .dcheroes .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.dcheroes .items-list .item-aps,
.dcheroes .items-list .item-total-cost {
  display: flex;
  justify-content: center;
  flex: 0 0 100px;
}
.dcheroes .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.dcheroes .items-list .item-controls a {
  font-size: 20px;
  text-align: center;
  margin: 0 6px;
}
.dcheroes .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.dcheroes .items-list .item:last-child {
  border-bottom: none;
}
.dcheroes .items-list .item .item-name .item-image {
  flex: 0 0 24px;
  height: 24px;
  background-size: 30px;
  background-color: #ddebf6;
  border: none;
  margin: 3px 5px 4px 0;
}
.dcheroes .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 14px;
}
.dcheroes .items-list .items-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: #1f5079;
  border: 2px groove #eeede0;
  color: #fff;
}
.dcheroes .items-list .items-header > * {
  font-size: 20px;
  text-align: center;
}
.dcheroes .items-list .items-header .item-name {
  flex: 1;
  padding-left: 5px;
  text-align: left;
}
.dcheroes .item-formula, .dcheroes .item-description {
  flex: 2 0 200px;
  padding: 0 8px;
}
.dcheroes .effects .item .effect-source,
.dcheroes .effects .item .effect-duration,
.dcheroes .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 20px;
}
.dcheroes .effects .item .effect-controls {
  border: none;
}

.dcheroes .sheet-body .grid-2col-header {
  font-size: 20px;
  color: #1f5079;
}

.dcheroes .sheet-body .editor .editor-content {
  border: 1px solid #1f5079; 
  background-color: #ddebf6;
}
