<div class="megs-dialog">
  <form>
    <div class="form-group">
      <label>{{localize "Opposing Value"}}</label>
      <input id="opposingValue" type="number" value="0" />
    </div>
    </form>
    <div class="form-group">
      <label>{{localize "Resistance Value"}}</label>
      <input id="resistanceValue" type="number" value="0" />
    </div>
    </form>
        <!--
    <form>
        <div class=""form-group">
            <label>{{localize "Opposing Value"}}</label>
            <input type=""number" id=""opposingValue" value=""0" />
        </div>
        <div class=""form-group">
            <label>{{localize "Resistance Value"}}</label>
            <input type=""number" id=""resistanceValue" value=""0" />
        </div>
    </form>-->
</div>