<div class="megs-dialog">
  <form>
    {{#unless (isTargeted)}}
    <div class="form-group">
      <label>{{localize "Opposing Value"}}</label>
      <input id="opposingValue" type="number" value="0" />
    </div>
    <div class="form-group">
      <label>{{localize "Resistance Value"}}</label>
      <input id="resistanceValue" type="number" value="0" />
    </div>
    {{/unless}}
    <div class="form-group">
      <label>{{localize "Hero Points Spent"}}</label>
      <input id="hpSpent" type="number" value="0" />
    </div>
  </form>
</div>