<div  class="grid grid-2col">
    <div class="flex-group-center">
        AV
    </div>
    <div class="flex-group-center">
        OV
    </div>
    <div class="flex-group-center grid-span-2">
        DICE
    </div>
    <div class="flex-group-center">
        EV
    </div>
    <div class="flex-group-center">
        RV
    </div>
    <div class="flex-group-center grid-span-2">
        RESULT
    </div>
</div>